# --- Huge Project Folders (Ignore these completely) ---
Unity/
Blender/
Digital-Logic-Sim-Windows/
ZCO251112/
Git GitHub/
Transport System/
Export/


# --- System & Temporary Files ---
.vscode/
__pycache__/
*.exe
*.log
*.tmp
*.env
*.txt
*.docx
*.pdf
*.png
*.jpg
*.jpeg
*.mp4
*.mov
*.mp3
C++/test.cpp
Python/testing2.py
Python/AI_test.py

